@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary-500: #9d00ff;   
  --neutral-900: #000000;   
  --neutral-800: #1f1f1f;   
  --neutral-400: #a0a0a0;   
  --neutral-50:  #ffffff;   

  /* Token shadcn  */
  --radius: 0.625rem;

  --background: #000000;               
  --foreground: #ffffff;               

  --card: #121212;                    
  --card-foreground: #ffffff;

  --popover: #121212;                  
  --popover-foreground: #ffffff;

  --primary: #9d00ff;                  
  --primary-foreground: #ffffff;

  --secondary: #ffd700;                
  --secondary-foreground: #111111;

  --muted: #1a1a1a;
  --muted-foreground: #b3b3b3;

  --accent: #151515;
  --accent-foreground: #ffffff;

  --destructive: #e5484d;

  --border: #2a2a2a;
  --input: #2a2a2a;
  --ring: #9d00ff;

  /* chart & sidebar,  */
  --chart-1: #7e57c2;
  --chart-2: #26a69a;
  --chart-3: #5c6bc0;
  --chart-4: #ffd54f;
  --chart-5: #ffb74d;

  --sidebar: #0f0f0f;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #9d00ff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #151515;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #2a2a2a;
  --sidebar-ring: #9d00ff;
}

.dark {}

/* Mapping Tailwind v4  */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Menghilangkan tampilan scroll bar */
::-webkit-scrollbar {
  display: none;
}

/* Pastikan konten masih bisa discroll */
body {
  overflow: scroll;
}


